---
import data from '../../data/dinosaurs.json'
const { dino } = Astro.params
const dinoObj = data.find((item) => item.name.toLowerCase() === dino)
if (!dinoObj) return Astro.redirect('/404');
const { name, description } = dinoObj
export const prerender = false
---

<h1>{ name }</h1>
<p>
    { description }
</p>