---
export interface ExploreCardProps {
    url: string
    title: string
}

export interface Props {
    exploreCard: ExploreCardProps 
}

const { exploreCard } = Astro.props
---
<a href={exploreCard.url}
  class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden"
  data-test="explore-card">

  <div class="py-6 px-8">
    <h2 class="font-bold text-2xl leading-tight">
      {exploreCard.title}
    </h2>
  </div>
</a>
