---
import data from '../../data/suburbs.json'
---

<div>
    <h1>Top 10 Suburbs</h1>
    <ul>
        {data.map((suburb) => (
            <li>
                <a href={`/suburbs/${suburb.postcode}`}>{ suburb.name }</a>
            </li>
        ))}
    </ul>
</div>
