---
import data from '../../data/suburbs.json'
import background from '@/assets/background.svg';
---

<div id="container">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <h1>Top 10 Suburbs</h1>
    <ul>
        {data.map((suburb) => (
            <li>
                <a href={`/suburbs/${suburb.postcode}`}>{ suburb.name }</a>
            </li>
        ))}
    </ul>
</div>
